.button {
    font-weight: 700;
    padding: var(--padding);
    background-color: var(--button-color);
    border: none;
    border-bottom: var(--border-button);
    border-radius: var(--border-radius);
}